*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between !important;
}